@charset "UTF-8";
/*tip.. crear mi propio repo de mixin flex grid padding box modeling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*headers, edicion del bs */
.header-BS {
  width: 100%;
  height: auto;
  top: 0; }

.nav-item {
  margin: 8px; }

.nav-item a {
  font-size: 20px; }
  .nav-item a:hover {
    color: #474646;
    text-decoration: underline;
    font-weight: bold; }

.block3header {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.login {
  margin-bottom: 80px;
  margin-top: 5px;
  font-size: 13px; }

footer {
  background-color: #9c9c9c; }

.footer-flex {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: none; }

.item1-ubi-mail {
  margin-left: 40px;
  margin-top: 10px; }

.item1-ubi-mail p {
  font-size: 15px; }

.item2-sobre-pregfr {
  height: 140px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  gap: 20px; }

.item3-redes-sociales {
  margin-right: 40px; }

.item3-redes-sociales img {
  width: 30px; }

.term-polit,
.sobre-preg {
  margin-top: 45px;
  text-align: center; }

/*MAIN-index*/
main {
  width: 100%;
  height: 100%;
  background-color: white; }

h2 {
  font-family: Rubik;
  color: black; }

h3 {
  font-family: Rubik; }

h4 {
  font-family: Roboto;
  color: #080864; }

h6 {
  font-family: Roboto; }

/*Sección Banner*/
.grid-banner {
  display: grid;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: repeat(4, 25%);
  text-align: center; }
  .grid-banner img {
    width: 100%;
    height: 700px;
    grid-column: 1/4;
    grid-row: 1/4; }
  .grid-banner p {
    grid-column: 2/3;
    grid-row: 2/3;
    text-transform: uppercase;
    color: white;
    font-size: 47px; }
  .grid-banner a {
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 25px;
    color: white;
    margin-top: 50px; }

/*Dimensiones generales de todos los carteles y productos del index*/
.productPic img {
  width: 175px;
  height: 175px; }

.productPic h4 {
  font-size: 30px;
  margin-bottom: 30px; }

.productPic p {
  font-size: 20px; }

.productPic p2 {
  font-size: 30px; }

.productPic a {
  font-size: 23px; }

.cartelPic {
  width: 25%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 85% 15%; }
  .cartelPic img {
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 1/3; }
  .cartelPic h2 {
    grid-column: 2/3;
    grid-row: 2/3; }

.flex-productos {
  display: flex;
  width: 100%;
  height: 420px;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 5px 10px 5px; }

.productPic {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-around; }

/*SECCION -- ENVIOS NEWSLETTER ETC */
.bloque-central-grids {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 74% 24%;
  grid-template-rows: 40% 60%;
  grid-template-areas: "item1 item3" "item2 item3";
  gap: 10px;
  margin-bottom: 30px; }

.bloque-envios {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white; }

.envios {
  width: 250px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #d1d1d1; }
  .envios img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    color: white; }
  .envios p {
    color: black;
    margin: 10px; }

.bloque-nuevos-ingresos {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 3, 1fr;
  grid-template-rows: 3, 1fr;
  width: 100%;
  height: 100%;
  grid-area: item2; }
  .bloque-nuevos-ingresos img {
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 1/4; }
  .bloque-nuevos-ingresos h2 {
    width: 100%;
    grid-column: 3/4;
    grid-row: 2/3; }

.bloque-newsletter {
  grid-area: item3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: #d1d1d1; }
  .bloque-newsletter p {
    margin-left: 5px;
    margin-right: 5px; }
  .bloque-newsletter form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }

.button {
  padding: 5px 10px;
  border: 2px solid black;
  background-color: black;
  color: white; }
  .button input {
    background-color: black;
    color: white; }
  .button:active {
    background-color: green; }
  .button input:active {
    background-color: black;
    color: white;
    font-size: larger; }

.bloque-newsletter input::placeholder {
  background-color: gray;
  color: white; }

/*SECCION -- PRODUCTOS RECOMENDADOS*/
.recomendados {
  width: 100%;
  height: 100%;
  background-color: beige;
  margin: 10px; }
  .recomendados h3 {
    text-align: center;
    margin-bottom: 10px; }
  .recomendados p {
    text-align: center;
    margin-bottom: 30px; }

.recomendados-grid {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 90% 10%;
  grid-template-areas: "item1 item3 item5 item7 item9 item11" "item2 item4 item6 item8 item10 item12"; }
  .recomendados-grid img {
    width: 170px;
    height: 170px; }

.r1 {
  grid-area: item1;
  justify-self: center; }

.r2 {
  grid-area: item2;
  justify-self: center; }

.r3 {
  grid-area: item3;
  justify-self: center; }

.r4 {
  grid-area: item4;
  justify-self: center; }

.r5 {
  grid-area: item5;
  justify-self: center; }

.r6 {
  grid-area: item6;
  justify-self: center; }

.r7 {
  grid-area: item7;
  justify-self: center; }

.r8 {
  grid-area: item8;
  justify-self: center; }

.r9 {
  grid-area: item9;
  justify-self: center; }

.r10 {
  grid-area: item10;
  justify-self: center; }

.r11 {
  grid-area: item11;
  justify-self: center; }

.r12 {
  grid-area: item12;
  justify-self: center; }

/**Fondo blanco todas paginas secundarias**/
.fondo {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 10px; }

/** PAGINA bags y accesorios**/
.grid-carteras-accesorios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "item1 item2 item3 item4" "item5 item6 item7 item8" "item9 item10 item11 item12"; }
  .grid-carteras-accesorios div {
    background-color: rgba(241, 241, 241, 0.911);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: none;
    align-items: center;
    gap: none;
    margin: 10px;
    margin-bottom: 100px; }
  .grid-carteras-accesorios img {
    width: 300px;
    height: 300px;
    margin: 20px; }
  .grid-carteras-accesorios h4 {
    font-size: 27px; }
  .grid-carteras-accesorios p {
    font-size: 20px; }
  .grid-carteras-accesorios p2 {
    font-size: 30px; }
  .grid-carteras-accesorios button {
    width: 60px;
    height: 30px;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 15px; }

/*PAGINA carrito*/
.h4-titulo {
  font-size: 30px; }

.fondo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: none;
  align-items: center;
  gap: none; }

.grid-carrito {
  width: 90%;
  height: 680px;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  gap: 5px; }

.resumen1 {
  width: 95%;
  height: 95%;
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: beige;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px; }

.resumen2 {
  width: 95%;
  height: 95%;
  grid-column: 1/2;
  grid-row: 3/5;
  background-color: beige;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px; }

.resumen3 {
  width: 100%;
  height: 95%;
  grid-column: 2/3;
  grid-row: 2/5;
  margin: 5px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px; }
  .resumen3 h4 {
    font-size: 20px; }

.resumen1-img img,
.resumen2-img img {
  width: 280px;
  height: 280px; }

.resumen1-text,
.resumen2-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px; }

/*PAGINA preguntas frecuentes*/
.fondo h4 {
  text-align: center;
  margin-bottom: 10px; }

.grid-preg-frec {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: "item1 item2 item3 item4" "item5 item6 item7 item8";
  justify-content: center;
  margin-bottom: 40px; }
  .grid-preg-frec .item1 {
    grid-area: item1; }
  .grid-preg-frec .item2 {
    grid-area: item2; }
  .grid-preg-frec .item3 {
    grid-area: item3; }
  .grid-preg-frec .item4 {
    grid-area: item4; }
  .grid-preg-frec .item5 {
    grid-area: item5; }
  .grid-preg-frec .item6 {
    grid-area: item6; }
  .grid-preg-frec .item7 {
    grid-area: item7; }
  .grid-preg-frec .item8 {
    grid-area: item8; }

.preguntas {
  width: 80%;
  height: 240px;
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige; }
  .preguntas img {
    width: 70px;
    height: 70px; }

/*BS pagina preguntas frecuentes*/
.contenedorcontenedorespregfrec {
  width: 100vw; }

.contenedoresitemspregfrec {
  width: 100vw;
  background-color: beige;
  margin-bottom: 15px;
  text-align: start;
  padding: 10px; }

/* Animaciones para las cards */
.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; }

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); }

.card-img-top {
  height: 200px;
  /* Ajusta la altura según tu diseño */
  object-fit: cover;
  transition: transform 0.3s ease; }

.card:hover .card-img-top {
  transform: scale(1.1); }

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem; }

.card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem; }

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: #fff;
  background-color: #343a40;
  /* Color de fondo del botón */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; }

.btn:hover {
  background-color: #212529; }

.btn:hover, .btn:focus {
  text-decoration: none; }

/* no anduvo 
.navbar-nav .nav-link{
    color: #333; 
    font-size: 16px; 
    font-weight: 500; 
    text-transform: uppercase; 
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover{
    color: #007bffe3;
    text-decoration: none;
} 
*/
@media (max-width: 1024px) {
  /*Headers*/
  .nav-item {
    margin: 1px; }
  .nav-item a {
    font-size: 18px; }
  .login img {
    width: 20px; }
  /*index*/
  .grid-banner img {
    height: 520px; }
  .grid-banner p {
    font-size: 37px; }
  .grid-banner a {
    font-size: 20px; }
  .item4-prod {
    display: none; }
  .cartelPic {
    height: 400px; }
  .productPic img {
    width: 150px;
    height: 150px; }
  /*bloque central index*/
  .bloque-envios {
    width: 100%; }
  .envios {
    width: auto; }
  .bloque-newsletter form input {
    width: 150px; }
  .bloque-nuevos-ingresos h2 {
    font-size: 25px; }
  /*productos recomendados index*/
  .recomendados-grid {
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 44% 6% 44% 6%;
    grid-template-areas: "item1 item3 item5" "item2 item4 item6" "item7 item9 item11" "item8 item10 item12"; }
    .recomendados-grid a {
      margin-bottom: 5%; }
    .recomendados-grid img {
      width: 240px;
      height: 240px; }
  /* PAGINA Carrito */
  .resumen1-img img {
    width: 240px;
    height: 240px; }
  .resumen2-img img {
    width: 240px;
    height: 240px; }
  .resumen1-text {
    font-size: 12px;
    gap: 5px; }
    .resumen1-text h6 {
      font-size: 16px; }
    .resumen1-text button {
      width: 100px; }
  .resumen2-text {
    font-size: 12px;
    gap: 5px; }
    .resumen2-text h6 {
      font-size: 16px; }
    .resumen2-text button {
      width: 100px; }
  /*PAGINA PREGUNTAS FRECUENTES*/ }

@media (max-width: 768px) {
  /*HEADERS*/
  .login {
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 13px; }
  /*index*/
  .grid-banner img {
    height: 350px; }
  .grid-banner p {
    font-size: 30px; }
  .grid-banner a {
    font-size: 15px; }
  .flex-productos {
    height: 350px; }
  .item3-prod {
    display: none; }
  .cartelPic {
    width: 300px;
    height: 330px; }
  .item1-prod,
  .item2-prod {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .productPic h4 {
    font-size: 22px;
    margin-bottom: 25px; }
  .productPic p {
    font-size: 15px; }
  .productPic p2 {
    font-size: 20px; }
  .productPic a {
    font-size: 15px; }
  /*bloque central index*/
  .bloque-central-grids {
    width: 100%;
    height: 330px;
    justify-content: center;
    grid-template-columns: 20% 45% 30%;
    grid-template-rows: 1fr;
    grid-template-areas: "item1 item2 item3"; }
  .bloque-envios {
    flex-direction: column; }
  .envios img {
    width: 35px;
    height: 35px; }
  .envios p {
    font-size: 10px; }
  .bloque-newsletter h3 {
    font-size: 17px; }
  .bloque-newsletter p {
    font-size: 10px; }
  .bloque-newsletter form input {
    width: 110px; }
  .bloque-nuevos-ingresos h2 {
    font-size: 23px; }
  /*productos recomendados index*/
  .recomendados-grid img {
    width: 130px;
    height: 130px; }
  /*footer*/
  .footer-flex {
    height: 300px;
    flex-direction: column;
    gap: 15px;
    justify-content: center; }
  .item1-ubi-mail {
    order: 2;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-right: 30px; }
  .item1-ubi-mail img {
    width: 25px;
    height: 25px; }
  .item2 {
    order: 3; }
  .item3-redes-sociales {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-left: 40px; }
  .sobre-preg {
    margin-top: 15px; }
  .term-polit {
    margin-top: 25px; }
  /* PAGINA Carrito */
  .grid-carrito {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; }
    .grid-carrito .resumen1, .grid-carrito .resumen2 {
      display: flex;
      flex-direction: column; }
  .resumen1-img img {
    width: 210px;
    height: 210px;
    margin-top: 10px; }
  .resumen2-img img {
    width: 210px;
    height: 210px;
    margin-top: 10px; }
  .resumen3 h4 {
    margin-top: 10px; }
  .resumen3 a {
    margin-bottom: 10px; }
  .resumen1-text, .resumen2-text {
    align-items: center; }
    .resumen1-text a, .resumen2-text a {
      margin-bottom: 15px; }
  /*PAGINA PREGUNTAS FRECUENTES*/
  .grid-preg-frec {
    height: 1000px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
    grid-template-areas: "item1 item2" "item3 item4" "item5 item6" "item7 item8";
    margin-left: 30px; } }

@media (max-width: 425px) {
  /*banner index*/
  .grid-banner img {
    height: 250px; }
  .grid-banner p {
    font-size: 25px; }
  .grid-banner a {
    font-size: 11px; }
  /*carteles y productos index*/
  .flex-productos {
    flex-direction: column;
    align-items: center;
    height: auto; }
  .cartelPic {
    width: 80%;
    height: auto; }
  /*bloque central index*/
  .bloque-central-grids {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .bloque-envios {
    flex-direction: row;
    height: 100px; }
  .envios img {
    width: 30px;
    height: 30px; }
  .bloque-nuevos-ingresos {
    height: auto; }
  .bloque-newsletter {
    height: auto;
    width: 80%;
    padding: 10px; }
    .bloque-newsletter h3 {
      font-size: 15px; }
    .bloque-newsletter p {
      font-size: 10px; }
    .bloque-newsletter form input {
      width: 150px; }
  .bloque-nuevos-ingresos h2 {
    font-size: 12px; }
  /*productos recomendados index*/
  .recomendados-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25% 8% 25% 8% 25% 8%;
    grid-template-areas: "item1 item3" "item2 item4" "item5 item7" "item6 item8" "item9 item11" "item10 item12"; }
    .recomendados-grid img {
      margin-bottom: 15px; }
  /*footer*/
  .footer-flex {
    height: 400px;
    gap: 5px; }
  .item1-ubi-mail {
    display: flex;
    flex-direction: column;
    gap: 5px; }
    .item1-ubi-mail img {
      width: 25px;
      height: 25px; }
  .sobre-preg {
    font-size: 20px;
    margin-top: 5px; }
  /* PAGINA Carrito */
  /*PAGINA PREGUNTAS FRECUENTES*/
  .grid-preg-frec {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 15px; }
  .h4-titulo {
    font-size: 24px; } }

@media (max-width: 375px) {
  /*footer*/
  .term-polit {
    display: flex;
    flex-direction: column; }
  .sobre-preg {
    font-size: 15px; } }
