
footer {
    background-color: rgb(156, 156, 156);
}
.footer-flex {
    width: 100%;
    height: 200px;
    @include flex-flow(row, wrap, space-between, center, none);
}
.item1-ubi-mail {
    margin-left: 40px;
    margin-top: 10px;
}
.item1-ubi-mail p {
    font-size: 15px;
}
.item2-sobre-pregfr {
    height: 140px;
    @include flex-flow(column, wrap, center, none, 20px);
}
.item3-redes-sociales {
    margin-right: 40px;
}
.item3-redes-sociales img{
    width: 30px;
}
.term-polit,
.sobre-preg {
    margin-top: 45px;
    text-align: center;
}
