/*headers, edicion del bs */
.header-BS{
    width: 100%;
    height: auto;
    top: 0;
}

.nav-item{
    margin: 8px;
}
.nav-item a{
    font-size: 20px;
    &:hover {
        color: rgb(71, 70, 70);
        text-decoration: underline;
        font-weight: bold;
    }
}
.block3header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.login{
    margin-bottom: 80px;
    margin-top: 5px;
    font-size: 13px;
}