@media (max-width: 1024px) {
    /*Headers*/
    .nav-item{
        margin: 1px;
    }
    .nav-item a{
        font-size: 18px;
    }
    .login img{
            width: 20px;
    }


    /*index*/
    .grid-banner {
        img {
            height: 520px;
        }
        p {
            font-size: 37px;
        }
        a {
            font-size: 20px;
        }
    }
    
    .item4-prod {
        display: none;
    }
    .cartelPic {
        height: 400px;
    }
    .productPic img {
        width: 150px;
        height: 150px;
    }

    /*bloque central index*/
    .bloque-envios{
        width: 100%;
    }
    .envios {
        width: auto;
    }
    .bloque-newsletter form input{
        width: 150px;
    }
    .bloque-nuevos-ingresos h2{
        font-size: 25px;
    }

    /*productos recomendados index*/
    .recomendados-grid {
        height: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 44% 6% 44% 6%;
        grid-template-areas: "item1 item3 item5" "item2 item4 item6" "item7 item9 item11" "item8 item10 item12";
        a {
            margin-bottom: 5%;
        }
        img {
            width: 240px;
            height: 240px;
        }
    }

    /* PAGINA Carrito */
    .resumen1-img img {
        width: 240px;
        height: 240px;
    }
    .resumen2-img img {
        width: 240px;
        height: 240px;
    }

    .resumen1-text {
        font-size: 12px;
        gap: 5px;
        h6{
            font-size: 16px;
        }
        button{
            width: 100px;
        }
    }
    .resumen2-text {
        font-size: 12px;
        gap: 5px;
        h6{
            font-size: 16px;
        }
        button{
            width: 100px;
        }
    }


    /*PAGINA PREGUNTAS FRECUENTES*/

}
