@media (max-width: 768px) {
    /*HEADERS*/
    .login{
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 13px;
    }


    /*index*/
    .grid-banner {
        img {
            height: 350px;
        }
        p {
            font-size: 30px;
        }
        a {
            font-size: 15px;
        }
    }
    
    .flex-productos{
        height: 350px;
    }
    .item3-prod {
        display: none;
    }
    .cartelPic {
        width: 300px;
        height: 330px;
    }
    .item1-prod,
    .item2-prod {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .productPic {
        h4 {
            font-size: 22px;
            margin-bottom: 25px;
        }
        p {
            font-size: 15px;
        }
        p2 {
            font-size: 20px;
        }
        a {
            font-size: 15px;
        }
    }

    /*bloque central index*/
    .bloque-central-grids {
        width: 100%;
        height: 330px;
        justify-content: center;
        grid-template-columns: 20% 45% 30%;
        grid-template-rows: 1fr;
        grid-template-areas: "item1 item2 item3";
    }
    .bloque-envios {
        flex-direction: column;
    }
    .envios {
        img {
            width: 35px;
            height: 35px;
        }
        p {
            font-size: 10px;
        }
    }
    .bloque-newsletter {
        h3 {
            font-size: 17px;
        }
        p {
            font-size: 10px;
        }
        form input {
            width: 110px;
        }
    }
    .bloque-nuevos-ingresos h2{
        font-size: 23px;
    }

    /*productos recomendados index*/
    .recomendados-grid img {
        width: 130px;
        height: 130px;
    }

    /*footer*/
    .footer-flex {
        height: 300px;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
    }
    .item1-ubi-mail {
        order: 2;
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-right: 30px;
    }
    .item1-ubi-mail img{
        width: 25px;
        height: 25px;
    }
    .item2 {
        order: 3;
    }
    .item3-redes-sociales {
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-left: 40px;
    }
    .sobre-preg{
        margin-top: 15px;
    }
    .term-polit{
        margin-top: 25px;
    }



    /* PAGINA Carrito */
    .grid-carrito {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .resumen1, .resumen2{
            display: flex;
            flex-direction: column;
        }
    }
    .resumen1-img img {
        width: 210px;
        height: 210px;
        margin-top: 10px;
    }
    .resumen2-img img {
        width: 210px;
        height: 210px;
        margin-top: 10px;
    }
    .resumen3{
        h4{
            margin-top: 10px;
        }
        a{
            margin-bottom: 10px;
        }
    }
    .resumen1-text, .resumen2-text{
        align-items: center;
        a{
            margin-bottom: 15px;
        }
    }


    /*PAGINA PREGUNTAS FRECUENTES*/
    .grid-preg-frec{
        height: 1000px;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 25%);
        grid-template-areas:
        "item1 item2"
        "item3 item4"
        "item5 item6"
        "item7 item8";
        margin-left: 30px;
    }
}